.footer {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: auto;
}
.footer-text {
  display: flex;
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 590px) {
  .footer-text {
    width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
