.footer {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: auto;
}
.footer-text {
    display: flex;
    margin-top: 67px;
    margin-bottom: 60px;
    width: 318px;
    height: 18px;
    color: #545454;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}