.header {
  margin: 45px auto 41px ;
  border-bottom:  solid 1px rgba(84, 84, 84, 1);
  padding-bottom: 32px;
}

@media screen and (max-width: 590px) {
  .header {
    display: flex;
    width: 126px;
    margin: 0;
    padding-top: 28px;
    height: 24px;
    width: 100%;
  }
}
