.header {
  margin: 45px auto 0px;
  border-bottom: 1px #545454;
}

@media screen and (max-width: 590px) {
  .header {
    display: flex;
    justify-content: center;
    width: 126px;
    margin-top: 28px;
    margin-right: 167px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
